@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary-400: #054A91;
    --primary-300: #3E7CB1;
    --primary-200: #81A4CD;
    --primary-100: #DBE4EE;
    --secondary: #FF912D;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Poppins;
}

p > span > h1 > h2 > h3 > h4 > h5 > a {
  font-family: Poppins;
}
